<!-- navbar -->
<header class="navbar">
  <!-- logo -->
  <div class="navbar-left">
    <img src="assets/dashfarmhouse.png" alt="Farmhouse Logo" class="logo" />
  </div>

  <!-- navigation -->
  <div class="navbar-center">
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/map-sensor" routerLinkActive="active">Map Sensor</a>
      <a routerLink="/alert" routerLinkActive="active">Alert</a>
    </nav>
  </div>

  <!-- menu button -->
  <button class="menu-button" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- dropdown menu -->
  <div class="dropdown-menu" *ngIf="menuOpen">
    <div class="dropdown-header">
      <div class="user-icon">👤</div>
      <div class="user-info">
        <strong>Name</strong><br />
        <small>RBAC</small>
      </div>
    </div>

    <hr />

    <a href="#">Edit Profile</a>
    <a href="#">Contact</a>
    <a href="#">Report</a>
    <a href="#">Sign Out</a>
  </div>
</header>
<router-outlet></router-outlet>
