<!-- navbar -->
<header class="navbar">
  <!-- logo -->
  <div class="navbar-left">
    <img src="assets/dashfarmhouse.png" alt="Farmhouse Logo" class="logo" />
  </div>

  <!-- navigation -->
  <div class="navbar-center">
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/map-sensor" routerLinkActive="active">Map Sensor</a>
      <a routerLink="/alert" routerLinkActive="active">Alert</a>
    </nav>
  </div>

  <!-- menu button -->
  <button class="menu-button" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- dropdown menu -->
  <div class="dropdown-menu" *ngIf="menuOpen">
    <div class="dropdown-header">
      <div class="user-info">
        <strong>{{ fullName || 'User' }}</strong><br />
        <small>{{ displayRole }}</small>
      </div>
    </div>

    <hr />

    <a routerLink="/profile-user" (click)="closeMenu()">Edit Profile</a>
    <a routerLink="/contact-page" (click)="closeMenu()">Contact</a>
    <a
      *ngIf="role === 'farmer'"
      routerLink="/report-page"
      (click)="closeMenu()"
    >
      Report
    </a>
    <a routerLink="/login-page" (click)="closeMenu()">Sign Out</a>
  </div>
</header>


<!-- Map Layout -->
<div class="map-layout">
  <!-- Left Panel -->
  <div class="left-panel">
    <!-- Search bar -->
    <div class="sidebar">
      <div class="search-wrapper">
        <span class="material-icons search-icon"></span>
        <input 
          type="text"
          placeholder="Search sensor"
          [(ngModel)]="searchSensor"
          class="search-box"
        />
      </div>
      <!-- Add Sensor Button (Technician only) -->
        <div 
          class="add-sensor-box" 
          *ngIf="role === 'technician'"
          (click)="openAddSensor()"
        >
          <span class="plus-icon">+</span>
        </div>
    </div>

    <!-- No Result Text -->
    <p *ngIf="noResultFound" class="no-result-text">
      No results found
    </p>


    <!-- Sensor List -->
    <div class="sensor-list">
      <div class="sensor-card" 
           *ngFor="let s of filteredSensors"
           (click)="focusSensor(s)">
        <div class="sensor-header">
          <h4 class="sensor-name">{{ s.name }}</h4>
          <span class="status-icon" [ngClass]="s.status.toString().toLowerCase()"></span>
          @if(s.status.toString() == "DEACTIVATED") {
            <span class="material-icons cloud-off-icon">cloud_off</span>
          }
        </div>

        <!-- Sensor ID -->
        <p class="sensor-id">ID: {{ s.id }}</p>
        <!-- Sensor Coordinates -->
        <div class="sensor-coords">
          <span class="material-icons coord-icon">location_on</span>
          <span>{{ s.latitude }}, {{ s.longitude }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Map Container -->
  <div class="map-container">
    <div id="sensor-map"></div>
    <div 
      class="overlay" 
      *ngIf="selectedSensor"
      (click)="selectedSensor = null">
    </div>

    <!-- Sensor Detail Card -->
    <div class="sensor-detail-card" *ngIf="selectedSensor">
      <!-- Detail Header -->
      <div class="header">
        <h2>{{ selectedSensor.name }}</h2>
        <span 
          class="status-dot" 
          [ngClass]="selectedSensor.status.toString().toLowerCase()">
        </span>
        <button class="close-btn" (click)="selectedSensor = null">✕</button>
      </div>

      <!-- Detail Basic Info -->
      <p class="id-line">Sensor ID: {{ selectedSensor.id }}</p>
      <!-- Technician line of farmer -->
        <p class="tech-line" *ngIf="role === 'farmer'">Technician: {{ selectedSensor.customer?.name }}</p>
      <!-- Farmer line of technician -->
        <p class="tech-line" *ngIf="role === 'technician'">Customer: {{ selectedSensor.technician?.name }}</p>

      <p class="coords">
        📍 {{ selectedSensor.latitude }}, {{ selectedSensor.longitude }}
      </p>
      <p class="sensor-history" (click)="openSensorHistory()">
        Sensor History
      </p>

      <hr>

      <!-- Signal Section -->
      <div class="signal-section">
        <!-- Signal Strength -->
        <div class="signal-row">
          <strong class="signal-text">Signal Strength:</strong>
          <div class="signal-bars">
            <span [class.active]="signalLevel >= 1" [attr.lvl]="signalLevel"></span>
            <span [class.active]="signalLevel >= 2" [attr.lvl]="signalLevel"></span>
            <span [class.active]="signalLevel >= 3" [attr.lvl]="signalLevel"></span>
            <span [class.active]="signalLevel >= 4" [attr.lvl]="signalLevel"></span>
            <span [class.active]="signalLevel >= 5" [attr.lvl]="signalLevel"></span>

            <div class="signal-tooltip-white">
              {{ signalLabel }}
            </div>
          </div>
        </div>

        <!-- Packet Loss -->
        <div class="packet-loss-row">
          <strong class="packet-loss-text">Packet Loss:</strong>

          <div class="packet-loss-bars">
            <span [class.active]="packetLossLevel >= 1" [attr.lvl]="packetLossLevel"></span>
            <span [class.active]="packetLossLevel >= 2" [attr.lvl]="packetLossLevel"></span>
            <span [class.active]="packetLossLevel >= 3" [attr.lvl]="packetLossLevel"></span>
            <span [class.active]="packetLossLevel >= 4" [attr.lvl]="packetLossLevel"></span>
            <span [class.active]="packetLossLevel >= 5" [attr.lvl]="packetLossLevel"></span>

            <div class="packet-loss-tooltip">
              {{ packetLossLabel }}
            </div>
          </div>
        </div>

        <!-- Battery -->
        <div class="battery-wrapper">
          <strong>Battery:</strong>
          <div class="battery-bar">
            <div 
              class="battery-fill"
              [style.width.%]="batteryLevel"
              [ngClass]="batteryColorClass">
            </div>
          </div>
          <span class="battery-text">{{ batteryLevel }}%</span>
        </div>
      </div>

      <!-- Farmer: Mini Box Section -->
      <div class="sensor-mini-boxes" *ngIf="role === 'farmer'">
        <!-- Temperature Box -->
        <div class="box temp" [ngClass]="tempColor">
          <p class="label">Temperature</p>
          <p class="value">{{ tempValue }}°F</p>
        </div>

        <!-- Moisture Box -->
        <div class="box moisture" [ngClass]="moistColor">
          <p class="label">Soil Moisture</p>
          <p class="value">{{ moistValue }}%</p>
        </div>

        <!-- Light Box -->
        <div class="box light" [ngClass]="lightColor">
          <p class="label">Light</p>
          <p class="value">{{ lightValue ? 'On' : 'Off' }}</p>
        </div>
      </div>

      <!-- Technician: Mini Box Section -->
      <div class="action-buttons" *ngIf="role === 'technician'">
        <button
          class="btn btn-activate"
          (click)="activateSelected(); $event.stopPropagation()">
          Activate
        </button>

        <button
          class="btn btn-deactivate"
          (click)="deactivateSelected(); $event.stopPropagation()">
          Deactivate
        </button>
      </div>
    </div>
  </div>
  <!-- Add Sensor Modal -->
  <div
    class="add-sensor-modal-overlay"
    *ngIf="showAddSensorModal"
    (click)="closeAddSensor()"
  >
    <div class="add-sensor-modal" (click)="$event.stopPropagation()">
      <button class="add-sensor-close-btn" (click)="closeAddSensor()">✕</button>

      <form (ngSubmit)="submitAddSensor()" #addSensorForm="ngForm" novalidate>
        <h1>NEW SENSOR</h1>

        <label for="sensorId"><b>Sensor ID</b></label>
        <input
          type="text"
          id="sensorId"
          name="sensorId"
          [(ngModel)]="newSensor.id"
          placeholder="Enter sensor ID"
          required
        />

        <label for="sensorName"><b>Sensor Name</b></label>
        <input
          type="text"
          id="sensorName"
          name="sensorName"
          [(ngModel)]="newSensor.name"
          placeholder="Enter sensor name"
          required
        />

        <div class="lat-long-row">
          <div class="lat-long-field">
            <label for="latitude"><b>Latitude</b></label>
            <input
              type="text"
              id="latitude"
              name="latitude"
              [(ngModel)]="newSensor.latitude"
              placeholder="Enter latitude"
              required
            />
          </div>

          <div class="lat-long-field">
            <label for="longitude"><b>Longitude</b></label>
            <input
              type="text"
              id="longitude"
              name="longitude"
              [(ngModel)]="newSensor.longitude"
              placeholder="Enter longitude"
              required
            />
          </div>
        </div>

        <label for="customerId"><b>Farmer Account</b></label>
        <select
          id="customerId"
          name="customerId"
          [(ngModel)]="newSensor.customerId"
          required
        >
          <option value="" disabled>Select farmer</option>
          <option *ngFor="let c of contacts" [value]="c.userId">
            {{ c.name }}
          </option>
        </select>

        <label for="serialNumber"><b>Serial Number</b></label>
        <input
          type="text"
          id="serialNumber"
          name="serialNumber"
          [(ngModel)]="newSensor.serialNumber"
          placeholder="Enter serial number"
          required
        />
        <p *ngIf="addSensorError" class="add-sensor-error">
          {{ addSensorError }}
        </p>

        <button type="submit">Add Sensor</button>
      </form>
    </div>
  </div>
</div>

<!-- Put this into its own modal component later. For now we're using a scuffed solution -->
<dialog #sensorModal>
  <div class="sensor-modal-header">
    <button class="close-btn" (click)="closeSensorHistory()">X</button>
  </div>
  <div>
    <p>
      Temperature - Moisture - Light - Timestamp
    </p>
  </div>
  @for (reading of selectedSensor?.sensorReadings; track $index) {
    <div>
      {{reading.temperature}}°F - {{reading.moisture}} - {{reading.light}} - {{reading.createdAt | date:'medium'}}
    </div>
    
  }
</dialog>

