<div class="list">
    <app-technician-sensor-list-filter
        (addSensorClick)="openAddSensorModal()">
    </app-technician-sensor-list-filter>
    <div class="sensor-table">
        <table>
            <thead>
                <tr>
                    <th>Node ID</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
                @for (sensor of filteredSensors; track $index) {
                    <tr (click)="onRowClick(sensor)" style="cursor: pointer;">
                    <td>{{ sensor.id }}</td>
                    <td>{{ sensor.customer?.name || 'N/A' }}</td>
                    <td>{{ sensor.status }}</td>
                    <td>{{ sensor.battery }}%</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<app-sensor-details-modal
    [sensor]="selectedSensor"
    [show]="showSensorModal"
    (close)="closeSensorModal()">
</app-sensor-details-modal>

<app-add-sensor-modal
    [show]="showAddSensorModal"
    (close)="closeAddSensorModal()"
    (addSensor)="onAddSensor($event)">
</app-add-sensor-modal>