<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name ="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Farmra Registration</title>
    </head>

    <body>
        <div class="logo-box">
            <img src="assets/large_logo.png" alt="Farmhouse Logo" class="logo"/>
        </div>
        <form>
            <h1>SIGN UP</h1>
            <!-- label and input for email -->
            <label for="email"><b>Email</b></label>
            <input
                type = "text"
                placeholder="Enter your email"
                name = "email"
                id = "email"
                required 
            />
            <!-- label and input for phone number -->
            <label for="phone"><b>Phone Number</b></label>
            <input
                type = "tel"
                placeholder="Enter phone number"
                name = "phone"
                id = "phone"
                required 
            />
            <!-- label and selection for role -->
            <label for="role"><b>Role</b></label>
            <select id="role" name="role" required>
                <option value="" disabled selected hidden>Select your role</option>
                <option value="farmer">
                    I am a farmer
                </option>
                 <option value="technician">
                    I am a technician
                </option>
            </select>
            <!-- label and input for password -->
            <label for="password"><b>Password</b></label>
            <input
                type = "password"
                placeholder="Enter your password"
                name = "password"
                id = "password"
                required 
            />
            <!-- label and input for confirm password -->
            <label for="confirmPassword"><b>Confirm Password</b></label>
            <input
                type = "password"
                placeholder="Confirm your password"
                name = "password"
                id = "confirmPassword"
                required 
            />
            <!---Sign up button--->
            <button type="submit">
                Sign Up 
            </button>
            <p class = "login-text">Already have an account?<a href="/login-page" class="login-link">Login.</a></p>
        </form>
    </body>
</html>
