/*navbar container*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  padding: 0 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  position: relative;
  font-family: Roboto;
}

/*logo*/
.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.logo {
  height: 90px;
  object-fit: contain;
  display: block;
}

/*Center navigation options*/
.navbar-center {
  position: absolute;
  right: 310px; 
  transform: none;
}

.navbar-center nav {
  display: flex;
  align-items: center;
  gap: 200px;
}

.navbar-center a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  
  cursor: pointer;
  transition: color 0.25s ease;
}

/*hover for text*/
.navbar-center a:hover {
  color: #999;
}

.navbar-center a.active {
  color: #237327;
  font-weight: 600;
  font-size: 22px;
}

/*hamburger*/
.menu-button {
  background-color: #fff;
  border: 1px solid #C4BEBE;
  border-radius: 1px;
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-right: 31px;
}

.menu-button span {
  width: 25px;
  height: 2px;
  background-color: #C4BEBE;
  display: block;

}

.menu-button:hover {
  background-color: #fff;
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  position: absolute;
  top: 80px; 
  right: 80px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 10px 0;
  z-index: 1000;
  animation: fadeIn 0.15s ease-in-out;
  font-family: Roboto;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*box container*/
.box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    font-family: "M PLUS 1c", sans-serif;
}

/*data boxes*/
.data-box {
    background-color: #FCFDE9;
    border-radius: 15px;
    width: 350px;
    height: 220px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* moves text to the top */
    align-items: center;
    padding-top: 20px; /* adds space from the top */
    transition: transform 0.2s ease;
  }
.data-box:hover {
    transform: translateY(-3px);
}

/*weather box*/
.middle-box {
    background-color: #f8f8f8;
}

.data-box h2 {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding-top: 0px;
}
